<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">objectGUIDHex (ID)</span>
  <input type="text" class="form-control" placeholder="objectGUIDHex" disabled
  aria-label="objectGUIDHex" aria-describedby="basic-addon1" [ngModel]="ldaprule.objectGUIDHex">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">cn</span>
  <input type="text" class="form-control" placeholder="cn" disabled
  aria-label="cn" aria-describedby="basic-addon1" [ngModel]="ldaprule.cn">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">sudoCommand</span>
  <input type="text" class="form-control" placeholder="sudoCommand" disabled
  aria-label="sudoCommand" aria-describedby="basic-addon1" [ngModel]="ldaprule.sudoCommand">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">sudoHost</span>
  <input type="text" class="form-control" placeholder="sudoHost" disabled
  aria-label="sudoHost" aria-describedby="basic-addon1" [ngModel]="ldaprule.sudoHost">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">sudoUser</span>
  <input type="text" class="form-control" placeholder="sudoUser" disabled
  aria-label="sudoUser" aria-describedby="basic-addon1" [ngModel]="ldaprule.sudoUser">
</div>

<div>
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
