<div class="container mt-3">
  <div class="row">
    <div class="col-8 justify-content-md-start">
      <ul class="pagination">
        <li>
          <div class="page-item">
            <a class="btn btn-primary" [routerLink]="['create']">{{ addButtonText }}</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-4 justify-content-end">
      <nav aria-label="Page navigation">
        <ul class="pagination ">
          <li>
            <div class="page-item">
              <input [(ngModel)]="hostgroupsFilter" class="form-control"
              (keyup)="FilterFn()" placeholder="Filter Roles">
            </div>
          </li>
          <li class="page-item" [ngClass]="{disabled: previous === ''}">
            <button  class="page-link" (click)="fetchPrevious()">Previous</button>
          </li>
          <li class="page-item" [ngClass]="{disabled: next === ''}">
            <button class="page-link" (click)="fetchNext()">Next</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>servers</th>
      <th>nested groups</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let hostgroup of hostgroupsList">
      <td>{{ hostgroup.id }}</td>
      <td>{{ hostgroup.name }}</td>
      <td>{{ get_servers(hostgroup) }}</td>
      <td>{{ get_nested(hostgroup) }}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['edit', hostgroup.id]">Edit</a>
        <button type="button" class="btn btn-danger" (click)="deleteClick(hostgroup)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
