<div class="row mt-5">
  <div class="row">
    <div class="input-group mb-3 col-sm">
      <span class="input-group-text" id="basic-addon1">Role Name:</span>
      <input type="text" class="form-control" placeholder="role-name (Placeholder)"
      aria-label="role-admin" aria-describedby="basic-addon1" [(ngModel)]="role_name">
    </div>
    <div class="col-sm">
      <button [disabled]="!(role_name && targetCommands.length)" (click)="addRole(role_name, targetCommands)" data-bs-dismiss="modal" class="btn btn-primary">Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <label for="options">Commands:</label>
      <select multiple class="form-select" id="commands" [(ngModel)]="selectedCommands">
        <option *ngFor="let command of commands" [value]="command" (dblclick)="moveSelectedCommands(commands)">{{command.full_command}}</option>
      </select>
    </div>
    <div class="col-2">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" (click)="moveSelectedCommands(commands)">Add &raquo;</button>
        <button type="button" class="btn btn-primary" (click)="moveAllCommands()">Add All &raquo;</button>
        <button type="button" class="btn btn-primary" (click)="removeSelectedCommands(targetCommands)">&laquo; Remove</button>
        <button type="button" class="btn btn-primary" (click)="removeAllCommands()">Remove All &raquo;</button>
      </div>
    </div>
    <div class="col-5">
      <label for="selected-commands">Selected Commands:</label>
      <select multiple class="form-select" id="selected-commands" [(ngModel)]="selectedSelectedCommands">
        <option *ngFor="let command of targetCommands" [value]="command" (dblclick)="removeSelectedCommands(targetCommands)">{{command.full_command}}</option>
      </select>
    </div>
  </div>
</div>
