<nav class="mt-3" aria-label="Page navigation">
  <ul class="pagination justify-content-end">
    <li>
      <div class="page-item">
        <input [(ngModel)]="lnxgroupsFilter" class="form-control"
        (keyup)="FilterFn()" placeholder="Filter linux group">
      </div>
    </li>
    <li class="page-item" [ngClass]="{disabled: previous === ''}">
      <button  class="page-link" (click)="fetchPrevious()">Previous</button>
    </li>
    <li class="page-item" [ngClass]="{disabled: next === ''}">
      <button class="page-link" (click)="fetchNext()">Next</button>
    </li>
  </ul>
</nav>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>groupname</th>
      <th>gid_number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lnxgroup of lnxgroupList">
      <td>{{ lnxgroup.pk }}</td>
      <td>{{ lnxgroup.groupname }}</td>
      <td>{{ lnxgroup.gid_number }}</td>
      <td>
        <button type="button" class="btn btn-info"
        data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="editClick(lnxgroup)" data-backdrop="static" data-keyboard="false">
          Edit
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteClick(lnxgroup)">
          Delete
        </button>
    </td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ modalTitle }}</h1>
        <button type="button" class="btn-close"
        data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()" (closeChild)="closeClick()"></button>

      </div>
      <div class="modal-body">
        <app-add-edit-lnxgroup [lnxgroup_dep]='lnxgroup_dep'
        *ngIf="activateAddEditComponent" (closeChild)="activateAddEditComponent = false" (closeChild)="closeClick()"></app-add-edit-lnxgroup>
        <div ></div>
      </div>
    </div>
  </div>
</div>
